:root{
  --background: #FFFFF0;
  --color: black;
  --brand-font: "Roboto", sans-serif;
  --banner-color: #020d19;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* the header/navigation of this website */
header{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 3rem 4rem;
  width: 100%;
  height: 120px;
  background-color: #020d19;
  color: #FFFFF0;
}

.brand{
  /* width: 400px; */
}
.brand a {
  text-decoration: none;
  font-size: 26px;
  font-family: "Roboto",serif;
  font-weight: 600;
  font-style: normal;
  color: var(--color);
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.brand img{
  width:150px;
}
/* .mobile-logo{
  display: none;
} */
.logo{
  font-family: var(--brand-font);
  font-weight: 600;
  font-style: normal;
  font-size: 35px;
  color: var(--banner-color); 
}
.menu-icon,
.cancel-icon{
  display:none;
}
.menu-icon img{
  background-color: var(--background);
  width: 400px;
}
nav ul{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  padding: 15px;
  column-gap: 10px;
}
nav li{
  color: var(--background);
}
nav ul li a{
  color: var(--background);
  text-decoration: none;
  padding: 10px 15px;
  position: relative;
  font-family: var(--brand-font);
}
nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 0;
  height: 2px;
  background-color: var(--color);
  transition: width 0.3s;
}
nav ul li a::after {
  width: 0;
}
nav ul li a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 0;
  height: 2px;
  background-color: var(--color) !important;
  transition: width 0.3s;
}
.active{
  color: #EE6B1F;
}
nav ul li a:hover::before {
  width: 100%;
}
.active::after{
  width: 100%;
}
.cta-sign-in-mobile{
  display: none;
}
.cta-sign-out-mobile{
  display: none; 
  align-items: center; 
  justify-content: center;
}
.profile-pop-up-container{
  display: none;
  position: relative;
}
.profile-pop-up-container .nav-fa-user{
  font-size: 20px; 
  border: 2px solid black; 
  border-radius: 50%; height: 40px; 
  width: 40px; 
  display: flex; align-items: center; 
  justify-content: center; 
  cursor: pointer;
}
.profile-pop-up{
  background-color: white;
  padding: 12px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: absolute;
  right: 0;
  top: 63.3px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: none;
  width: 200px;
}
.pop-up-details{
  display: flex; 
  align-items: center; 
  column-gap: 10px;
  color: #EE6B1F
}
.pop-up-details p{
  max-width: 10px;
}
.pop-up{
  display: flex;
}
.profile-pop-up p{
  font-family: var(--font);
  font-size: 16px;
  font-style: normal;
  font-family: 400;
  max-width: 90px;
}
/* tablet screen size for navigation */
@media screen and (max-width: 768px){
  header {
    /* padding: 4rem 2rem; */
    max-width: 768px;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
  }
  /* .mobile-logo{
    display: block;
  } */
  .contact-logo{
    display: none;
  }
  .logo{
    font: 30px;
  }
  .menu-icon,
  .cancel-icon{
    display: flex;
    width: 40px;
  }
  .cancel-icon{
    position: fixed;
    right: 35px;
    top: 0;
  }
  nav  {
    position: fixed;
    /* width: 300px; */
    top: 100px;
    right: 0;
    left: 0;
    /* height: 100vh; */
    z-index: 999;
    background-color:#091652;
    color: white;
    text-align: center;
    display: none;
    z-index: 999;
    animation: slideIn  0.9s ease ; 
  }
  nav ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:#EE6B1F;
  }
  .active::after {
    width: 100%;
    background-color: white;
  }
  .nav-menu.active {
    top: 0;
  }
  .menu-icon, .cancel-icon {
    cursor: pointer;
    padding: 10px;
  }
  nav li {
    padding:20px 35px;
    border-bottom: 1px solid rgba(197, 195, 195, 0.1);
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
  }
  nav ul li a {
   font-size: 24px;
   width: 100%;
   color: white;
  }
  .profile-pop-up-container,
  .cta-sign-in{
    display: none;
  }
  .cta-sign-in-mobile,
  .cta-sign-out-mobile{
    display: block;
    background-color: var(--background);
    color: var(--color);
    width: 100%;
  }

  .active {
    color: #020d19;
  }
}

@media screen and (max-width: 600px){
  header {
    padding: 0rem 2rem;
    height: 80px;
    width: 100%;
  }
  .brand img {
    width: 160px;
  }
  nav {
    top: 80px;
    background-color: #051924;
  }
  nav li {
    padding: 15px 5px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 478px){
  header {
    padding: 0rem 2rem;
  }
  .brand {
    width: 600px;
  }
  .brand img {
    width: 130px;
  }
  .brand a {
    font-size: 20px;
    column-gap: 10px;
  }
  .menu-icon img{
    width: 30px;
  }
  .cancel-icon {
    position: fixed;
    right: 35px;
    top: -15px;
  }
}
